{
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "@vue/typescript/recommended"
  ],
  "rules": {
    "no-console": "off",
    "no-debugger": "off",
    "space-before-function-paren": "off"
  },
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  }
}